__pycache__
baidu_self.py
kenlm-master.zip
kenlm-master
pyinstaller
pid.log
log.log
paddle_inference
paddle_inference.tgz
inference
tools
build
ocr_vis.png
a.png
.vs
CMakeSettings.json
WIndows
Linux
macOS
package
